/.idea
/node_modules
/packages
/public/hot
/public/storage
/storage/*.key
/storage/database.sqlite
/vendor
.env
.env.backup
.phpunit.result.cache
_ide_helper.php
composer.lock
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
